.my-grid {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 1px solid #721ee3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}